.map-square {
  width: 500px;
  height: 500px;
}
.map {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-geo {
  width: 500px;
}

.checkBox-On-Off {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonPoint {
  margin: 10px;
}